<style id="adminAdd" type="text/css">
<div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title"><b>新增管理员</b></div>
    </div>

    <div class="panel-body">
    	<div class="form-group">
        	<div class="alert alert-dismissable" style="display: none;">
            <button type="button" class="close">×</button>
            <strong class="title"></strong>&nbsp;&nbsp;<span class="message"></span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">用户名:</label>
          <div class="col-md-10">
            <input type="text" required="" placeholder="用户名" id="aname" class="form-control" name="aname">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">email:</label>
          <div class="col-md-10">
            <input type="text" required="" placeholder="email" id="email" class="form-control" name="email">
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">密码:</label>
          <div class="col-md-10">
            <input type="password" required="" placeholder="password" id="password" class="form-control" name="password">
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-info" id="sub" type="submit">确定</button>
          </div>
        </div>
    </div>
</div>
</style>