<style id="newsAdd" type="text/css">
<div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title"><b>增加新闻</b></div>
    </div>

    <div class="panel-body">
    	<div class="form-group">
        	<div class="alert alert-dismissable" style="display: none;">
            <button type="button" class="close">×</button>
            <strong class="title"></strong>&nbsp;&nbsp;<span class="message"></span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">新闻标题:</label>
          <div class="col-md-10">
            <input type="text" required="" placeholder="新闻标题" id="ntitle" class="form-control">
          </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">内容：</label>
            <div class="col-md-10">
              	<div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">
                <div class="btn-group">
                  <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Font Size"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a data-edit="fontSize 5" class="fs-Five">Huge</a></li>
                    <li><a data-edit="fontSize 3" class="fs-Three">Normal</a></li>
                    <li><a data-edit="fontSize 1" class="fs-One">Small</a></li>
                  </ul>
                </div>
                <div class="btn-group">
                  <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Text Highlight Color"><i class="fa fa-paint-brush"></i>&nbsp;<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a data-edit="backColor #00FFFF">Blue</a></li>
                    <li><a data-edit="backColor #00FF00">Green</a></li>
                    <li><a data-edit="backColor #FF7F00">Orange</a></li>
                    <li><a data-edit="backColor #FF0000">Red</a></li>
                    <li><a data-edit="backColor #FFFF00">Yellow</a></li>
                  </ul>
                </div>
                <div class="btn-group">
                  <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Font Color"><i class="fa fa-font"></i>&nbsp;<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                      <li><a data-edit="foreColor #000000">Black</a></li>
                      <li><a data-edit="foreColor #0000FF">Blue</a></li>
                      <li><a data-edit="foreColor #30AD23">Green</a></li>
                      <li><a data-edit="foreColor #FF7F00">Orange</a></li>
                      <li><a data-edit="foreColor #FF0000">Red</a></li>
                      <li><a data-edit="foreColor #FFFF00">Yellow</a></li>
                    </ul>
                  </div>
                  <div class="btn-group">
                    <a class="btn btn-default" data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
                    <a class="btn btn-default" data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
                    <a class="btn btn-default" data-edit="strikethrough" title="Strikethrough"><i class="fa fa-strikethrough"></i></a>
                    <a class="btn btn-default" data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></a>
                  </div>
                  <div class="btn-group">
                    <a class="btn btn-default" data-edit="insertunorderedlist" title="Bullet list"><i class="fa fa-list-ul"></i></a>
                    <a class="btn btn-default" data-edit="insertorderedlist" title="Number list"><i class="fa fa-list-ol"></i></a>
                    <a class="btn btn-default" data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="fa fa-outdent"></i></a>
                    <a class="btn btn-default" data-edit="indent" title="Indent (Tab)"><i class="fa fa-indent"></i></a>
                  </div>
                  <div class="btn-group">
                    <a class="btn btn-default" data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
                    <a class="btn btn-default" data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
                    <a class="btn btn-default" data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></a>
                    <a class="btn btn-default" data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></a>
                  </div>
                  <div class="btn-group">
                      <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" title="Hyperlink"><i class="fa fa-link"></i></a>
                      <div class="dropdown-menu input-append">
                        <input placeholder="URL" type="text" data-edit="createLink" />
                        <button class="btn" type="button">Add</button>
                      </div>
                    </div>
                    <div class="btn-group">
                      <a class="btn btn-default" data-edit="unlink" title="Remove Hyperlink"><i class="fa fa-unlink"></i></a>
                      <span class="btn btn-default" title="Insert picture (or just drag & drop)" id="pictureBtn"> <i class="fa fa-picture-o"></i>
                        <input class="imgUpload" type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" />
                      </span>
                    </div>
                  <div class="btn-group">
                    <a class="btn btn-default" data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></a>
                    <a class="btn btn-default" data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></a>
                  </div>
                </div>
            <div id="editor" class="lead" data-placeholder="新闻内容"></div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-info" id="sub" type="submit">确定</button>
          </div>
        </div>
    </div>
</div>
</style>