<style id="typeList" type="text/css">
	<div class="panel panel-default">
    <div class="panel-heading">
    	商品分类列表
    	<a href="#/typeAdd" class="glyphicon glyphicon-plus pull-right">新增</a>
    </div>
	    <table class="table">
	      <thead>
	        <tr>
	          <th>#</th>
	          <th>分类名称</th>
	          <th>备注</th>
	          <th>上级分类</th>
	          <th>操作</th>
	        </tr>
	      </thead>
	      <tbody>
	      	<% types.forEach(function( type ){ %>
	      		<tr>
		          <td><%= type.tid %></td>
		          <td><%= type.typename %></td>
		          <td><%= type.typeinfo %></td>
		          <td><%= type.pname %></td>
		          <td>
		          	<a href="#/typeDel/<%= type.tid %>">删除</a>
		          </td>
		        </tr>
	      	<% }) %>
	      </tbody>
	    </table>
	</div>
</style>