.loding {
	position: fixed;
	top:0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgba(0,0,0,0.4);
	z-index: 999;
}
.loding img {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -62px;
	margin-left: -62px;
}

.enter {
	animation:enterframe .2s forwards;
	-webkit-animation:enterframe .2s forwards;
}
.leave {
	animation:leaveframe .25s forwards;
	-webkit-animation:leaveframe .25s forwards;
}

@keyframes enterframe{
	from{
		-webkit-transform:translate3d(100%,0,0);
		transform:translate3d(100%,0,0);
		opacity:0
	}
	to{
		-webkit-transform:translateZ(0);
		transform:translateZ(0);
		opacity:1
	}
}
@-webkit-keyframes enterframe{
	from{
		-webkit-transform:translate3d(100%,0,0);
		transform:translate3d(100%,0,0);
		opacity:0
	}
	to{
		-webkit-transform:translateZ(0);
		transform:translateZ(0);
		opacity:1
	}
}

@keyframes leaveframe{
	from{
		-webkit-transform:translateZ(0);
		transform:translateZ(0);
		opacity:1;
	}
	to{
		-webkit-transform:translate3d(100%,0,0);
		transform:translate3d(100%,0,0);
		opacity:0
	}
}
@-webkit-keyframes leaveframe{
	from{
		-webkit-transform:translateZ(0);
		transform:translateZ(0);
		opacity:1;
	}
	to{
		-webkit-transform:translate3d(100%,0,0);
		transform:translate3d(100%,0,0);
		opacity:0
	}
}
