<template>
	<div class="weui_tabbar">
        <a href="javascript:;" v-link="{path:'/home',activeClass:'weui_bar_item_on'}" class="weui_tabbar_item weui_bar_item_on">
            <div class="weui_tabbar_icon">
                <img src="../img/17.png" alt="123">
            </div>
            <p class="weui_tabbar_label">首页</p>
        </a>
        <a href="javascript:;" v-link="{path:'/productlist',activeClass:'weui_bar_item_on'}" class="weui_tabbar_item">
            <div class="weui_tabbar_icon">
                <img src="../img/5.png" alt="">
            </div>
            <p class="weui_tabbar_label">商品</p>
        </a>
        <a href="javascript:;" v-link="{path:'/newslist',activeClass:'weui_bar_item_on'}" class="weui_tabbar_item">
            <div class="weui_tabbar_icon">
                <img src="../img/18.png" alt="">
            </div>
            <p class="weui_tabbar_label">新闻</p>
        </a>
        <a href="javascript:;" v-link="{path:'/me',activeClass:'weui_bar_item_on'}" class="weui_tabbar_item">
            <div class="weui_tabbar_icon">
                <img src="../img/9.png" alt="">
            </div>
            <p class="weui_tabbar_label">我的</p>
        </a>
    </div>
</template>
<script type="text/javascript">
	export default {
		data() {
			return {
				
			}
		},
		methods : {
			
		}
	}
</script>